In [3]:
import pandas as pd
df= pd.read_csv("carprices.csv")

In [6]:
df_new=df.drop(['Car Model'],axis='columns')
df_new

    Mileage  Sell Price($)  Age(yrs)
0     69000          18000         6
1     35000          34000         3
2     57000          26100         5
3     22500          40000         2
4     46000          31500         4
5     59000          29400         5
6     52000          32000         5
7     72000          19300         6
8     91000          12000         8
9     67000          22000         6
10    83000          20000         7
11    79000          21000         7
12    59000          33000         5

In [12]:
X= df_new[['Mileage','Age(yrs)']]
y= df_new['Sell Price($)']

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test= train_test_split(X,y,test_size=0.3)

In [15]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [16]:
lr.fit(X_train, y_train)
lr.predict(X_test)

array([26934.82056256, 26768.57419981, 39943.11348206, 26352.95829292])

In [17]:
y_test

5    29400
2    26100
3    40000
6    32000
Name: Sell Price($), dtype: int64

In [22]:
lr.score(X_test,y_test)

0.6358892283785456